{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="ui one column stackable center aligned page grid" style="margin-top: 150px;">
    <div class="column twelve wide">
    {% if error %}
        <div class="ui error message">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="ui form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="inline field">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <div class="ui icon input">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <i class="user icon"></i>
            </div>
        </div>

        <div class="inline field">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <div class="ui icon input">
                <input type="password" id="password" name="_password" required="required" />
                <i class="lock icon"></i>
            </div>
        </div>

        <input class="ui button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
    </div>
</div>
{% endblock body %}
